/* Global */
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #707070;
  text-align: center;
}

section, .row {
  padding: 60px 0;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url(https://i.ibb.co/kGcCd2v/round-gold-color-chronograph-watch-with-black-strap-at-7-36-908629.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.splash::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000;
  opacity: 1;
  z-index: -1;
}

.splash-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Rokkitt", serif;
}

.header-title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: italic;
}

.header-subtitle {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
}

.btn {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #DAA520;
  border-radius: 2px;
  background: #DAA520;
  min-width: 180px;
  padding: 14px;
  background-image: linear-gradient(90deg, #fff, transparent 50%);
  background-size: 600%;
  background-position: 100% 0;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: #DAA520;
}

/* Navigation */
.navigation {
  padding: 0;
}

.brand p {
  font-family: "Meie Script", cursive;
  color: #DAA520;
  font-size: 26px;
}

.list ul {
  list-style-type: none;
  margin: 34px;
  -webkit-padding-start: 168px;
          padding-inline-start: 168px;
}

.list li {
  display: inline-block;
  font-size: 14px;
  margin-right: 40px;
}

.list a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Rokkitt", serif;
}

.list a:hover {
  color: #707070;
}

/* Services */
.section-title {
  font-family: "Rokkitt", serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  margin-bottom: -12px;
}

.services p {
  font-style: italic;
}

.services-inner {
  padding: 0 48px;
}

.services-inner i {
  color: #DAA520;
  border: 2px solid #DAA520;
  border-radius: 50%;
  font-size: 32px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  transition: all 1s;
}

.services-inner i:hover {
  color: #fff;
  background-color: #DAA520;
}

.services-title {
  font-family: "Rokkitt", serif;
  font-weight: 800;
  font-size: 18px;
  color: #000;
}

.services-inner p {
  font-size: 12px;
}

/* Portfolio */
.photos {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
}

.photo1 {
  background-image: url(https://i.ibb.co/n12F9ny/pexels-photo-4252143.jpg);
}

.photo2 {
  background-image: url(https://i.ibb.co/0rCzBDd/pexels-photo-1007025.jpg);
}

.photo3 {
  background-image: url(https://i.ibb.co/Bf1ncwg/pexels-photo-1089842.jpg);
}

.photo4 {
  background-image: url(https://i.ibb.co/Lz274F4/black-and-white-crosley-turntable-775414.jpg);
}

.photo5 {
  background-image: url(https://i.ibb.co/bQhfNF3/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg);
}

.photo6 {
  background-image: url(https://i.ibb.co/tzxf1dp/black-vintage-typewriter-163084.jpg);
}
/*# sourceMappingURL=style.css.map */