/* Global */

$font-brand: 'Meie Script', cursive;
$font-header: 'Rokkitt', serif;
$font-header-2: 'Cormorant Garamond', serif;
$font-text: 'Karla', sans-serif;

$color-brand: #DAA520;
$color-text: #707070;
$color-light: #fff;
$color-dark: #000;

$transition: all 1s;

body {
    margin: 0;
    font-family: $font-text;
    color: $color-text;
    text-align: center;
}

section, .row {
    padding: 60px 0;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://i.ibb.co/kGcCd2v/round-gold-color-chronograph-watch-with-black-strap-at-7-36-908629.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: $color-light;
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $color-dark;
        opacity: 0.4;
        z-index: -1;
    }
}

.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: $font-header;
}

.header-title {
    font-family: $font-header-2;
    font-weight: 500;
    font-style: italic;
}

.header-subtitle {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 60px;
}

.btn {
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    color: $color-light;
    cursor: pointer;
    border: 1px solid $color-brand;
    border-radius: 2px;
    background: $color-brand;
    min-width: 180px;
    padding: 14px;
    background-image: linear-gradient(90deg, $color-light, transparent 50%);
    background-size: 600%;
    background-position: 100% 0;
    transition: $transition;
    &:hover {
        background-position: 0 100%;
        color: $color-brand;
    }
}

/* Navigation */

.navigation {
    padding: 0;
}

.brand p {
    font-family: $font-brand;
    color: $color-brand;
    font-size: 26px;
}

.list ul {
    list-style-type: none; 
    margin: 34px;
    padding-inline-start: 168px;
}

.list li {
    display: inline-block;
    font-size: 14px;
    margin-right: 40px;
}

.list a {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-light;
    font-family: $font-header;
    &:hover {
        color: $color-text;
    }
}

/* Services */

.section-title {
    font-family: $font-header;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: -12px;
}

.services p {
    font-style: italic;
}

.services-inner {
    padding: 0 48px;
}

.services-inner i {
    color: $color-brand;
    border: 2px solid $color-brand;
    border-radius: 50%;
    font-size: 32px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    transition: $transition;
    &:hover {
        color: $color-light;
        background-color: $color-brand;
        transform: scale(1.2);
    }
}

.services-title, .portfolio-title {
    font-family: $font-header;
    font-weight: 800;
    font-size: 24px;
    color: $color-dark;
}

/* Portfolio */

.portfolio {
    background: #f8f8f8;
}

.portfolio-inner {
    margin-bottom: 48px;
}

.photos {
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center center;
    transition: $transition;
    &::before {
        position: absolute;
        content: '';
        background-color: $color-dark;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        display: none;
        z-index: 0;
    }
    &:hover {
        .photo-title {
            display: block;
        }
        &::before {
            display: block;
        }
    }
}

.photo-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: #D4AF37;
    border: 2px solid #D4AF37;
    padding: 0 6px;
    display: none;
    z-index: 1;
}

.photo1 {background-image: url(https://i.ibb.co/n12F9ny/pexels-photo-4252143.jpg);}
.photo2 {background-image: url(https://i.ibb.co/0rCzBDd/pexels-photo-1007025.jpg);}
.photo3 {background-image: url(https://i.ibb.co/Bf1ncwg/pexels-photo-1089842.jpg);}
.photo4 {background-image: url(https://i.ibb.co/Lz274F4/black-and-white-crosley-turntable-775414.jpg);}
.photo5 {background-image: url(https://i.ibb.co/bQhfNF3/semi-opened-laptop-computer-turned-on-on-table-2047905.jpg);}
.photo6 {background-image: url(https://i.ibb.co/tzxf1dp/black-vintage-typewriter-163084.jpg);}

.portfolio-description p {
    font-style: italic;
    margin-top: -22px;
}

/* Footer */

.footer-inner p {
    font-style: italic;
}

.footer-inner i {
    color: $color-light;
    border-radius: 50%;
    border: 1px solid $color-dark;
}